<div class="menu-container px-1 has-background-white">
  <div class="menu-wrapper py-1">
    <aside class="menu">
      <p class="menu-label has-text-lighter">General</p>
      <ul class="menu-list">
        <li>
          <a
            href="{% url  'dashboard_app:dashboard_home_url' %}"
            class="{% if request.path == '/dashboard/' %} is-active has-background-primary {% else %} has-text-black {% endif %}"
          >
            <i class="fas fa-tachometer-alt icon"></i>
            Dashboard</a
          >
        </li>
      </ul>
      <p class="menu-label has-text-lighter">Administration</p>
      <ul class="menu-list">
        <li class="mb-2">
          <a
            href="{% url  'customer_app:customer_list_url' %}"
            class="{% if request.path == '/customer/list' %} is-active has-background-primary {% else %} has-text-black {% endif %}"
          >
            <i class="fas fa-cogs icon"></i>
            Customers</a
          >
        </li>
        <li>
          <a
            href="{% url  'vehicle_app:vehicle_list_url' %}"
            class="
            {% if request.path == '/vehicle/list' or request.path == '/vehicle/add' or request.path == '/vehicle/update/' %} 
              is-active has-background-primary 
            {% else %} 
            has-text-black 
            {% endif %}"
          >
            <i class="fas fa-cogs icon"></i>
            Vehicles</a
          >
        </li>
      </ul>
    </aside>
  </div>
</div>
