<nav id="sidebar" class="sidebar js-sidebar">
  <div class="sidebar-content js-simplebar">
    <a class="sidebar-brand" href="{% url  'dashboard_app:dashboard_home_url' %}">
      <span class="align-middle">DIGI TP</span>
    </a>

    <ul class="sidebar-nav">
      <li class="sidebar-header">
        Actions
      </li>

      <li class="
      sidebar-item 
      {% if request.path == '/dashboard/' %}
        active
      {% endif %}
      ">
        <a class="sidebar-link" href="{% url  'dashboard_app:dashboard_home_url' %}">
          <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
        </a>
      </li>

      <li class="sidebar-header">
        Actions
      </li>

      <li class="
      sidebar-item
      {% if request.path == '/customer/list' or request.path == '/customer/add' %} 
        active
      {% endif %}
      ">
        <a class="sidebar-link" href="{% url  'customer_app:customer_list_url' %}">
          <i class="align-middle" data-feather="users"></i> <span class="align-middle">Customers</span>
        </a>
      </li>

      <li class="
      sidebar-item
      {% if request.path == '/vehicle/list' or request.path == '/vehicle/add' or request.path == '/vehicle/update/' %} 
        active
      {% endif %}
      ">
        <a class="sidebar-link"  href="{% url  'vehicle_app:vehicle_list_url' %}">
          <i class="align-middle" data-feather="truck"></i> <span class="align-middle">Vehicles</span>
        </a>
      </li>

      <li class="
      sidebar-item
      {% if request.path == '/order/list' %} 
        active
      {% endif %}
      ">
        <a class="sidebar-link"  href="{% url  'order_app:order_list_url' %}">
          <i class="align-middle" data-feather="list"></i> <span class="align-middle">Orders</span>
        </a>
      </li>

    </ul>
  </div>
</nav>