{% extends "dashboard/dasboard_base.html" %} {% block dashboard_section %}
<div>
  <div class="section">
    <div class="container">
      <div class="columns">
        {% for vehicle in vehicles %}
        <div class="column is-3">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img
                  src="https://bulma.io/images/placeholders/1280x960.png"
                  alt="Placeholder image"
                />
              </figure>
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img
                      src="https://bulma.io/images/placeholders/96x96.png"
                      alt="Placeholder image"
                    />
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4">{{vehicle.number_plate}}</p>
                  {% if vehicle.nick_name %}
                  <p class="subtitle is-6">{{vehicle.nick_name}}</p>
                  {% endif %}
                </div>
              </div>
            </div>
            <footer class="card-footer">
              <a href="#" class="card-footer-item">Edit</a>
              <a href="#" class="card-footer-item">Delete</a>
            </footer>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock dashboard_section %}
