{% extends "dashboard/dasboard_base.html" %} 
{% load crispy_forms_tags %}


{% block dashboard_section %}
<div>
      <div>
        <a
          href="{% url 'vehicle_app:add_vehicle_url' %}"
          class="btn btn-primary mb-4"
        >
          Create Vehicle
      </a>
      </div>

      <div class="row">
        {% for vehicle in vehicles %}
        <div class="col-md-3">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{ vehicle.name }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{vehicle.number_plate}}</h6>
              <a href="{% url 'vehicle_app:update_vehicle_url' vehicle.id %}" class="card-link btn btn-outline-primary">Edit</a>
              <a href="{% url 'vehicle_app:delete_vehicle_url' vehicle.id %}" class="card-link btn btn-outline-danger">Delete</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
</div>
{% endblock dashboard_section %}
