{% extends "main_base.html" %} 

{% block main_base_content %}
<div class="wrapper">
  <!-- sidebar -->
  {% include 'partials/sidebar.html' %} 
  
  <div class="main">
    <!-- topbar -->
    {% include 'partials/topbar.html' %} 

    <main class="content">
      <div class="container-fluid p-0">

        <h1 class="h3 mb-3"><strong>Analytics</strong> Dashboard</h1>
        <div>
          {% block dashboard_section %}
          {% endblock dashboard_section %}
        </div>

      </div>
    </main>

    <!-- footer -->
    {% include 'partials/footer.html' %} 
  </div>
</div>
{% endblock main_base_content %}