{% extends "main_base.html" %} 

{% block main_base_content %}
<div class="wrapper">
  <!-- sidebar -->
  {% include 'partials/sidebar.html' %} 
  
  <div class="main">
    <!-- topbar -->
    {% include 'partials/topbar.html' %} 

    <main class="content">
      <div class="container-fluid p-0">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h1 class="mb-0 h3">{% block dashboard_title %}{% endblock dashboard_title %}</h1>
              </div>
              <div class="card-body">
                {% block dashboard_section %}
                {% endblock dashboard_section %}
              </div>
            </div>
          </div>
        </div>

      </div>
    </main>

    <!-- footer -->
    {% include 'partials/footer.html' %} 
  </div>
</div>
{% endblock main_base_content %}