{% extends "main_base.html" %} 

{% block main_base_content %}
<div class="wrapper">
  <!-- sidebar -->
  {% include 'partials/sidebar.html' %} 
  
  <div class="main">
    <!-- topbar -->
    {% include 'partials/topbar.html' %} 

    <main class="content">
      <div class="container-fluid p-0">

        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
              <div class="alert-message">
                <strong>{{ message }}!</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            </div>
          {% endfor %}
        {% endif %}

        <h1 class="h3 mb-3">{% block dashboard_title %}{% endblock dashboard_title %}</h1>
        <div class="row">
          {% block dashboard_section %}
          {% endblock dashboard_section %}
        </div>

      </div>
    </main>

    <!-- footer -->
    {% include 'partials/footer.html' %} 
  </div>
</div>
{% endblock main_base_content %}